@use '@styles/design-system.scss' as *;

.container {
  padding: 0 25px;
}
.notice {
  text-align: center;
  font-size: 16px;
  color: #404040;
  margin: 10px 0;
  b {
    font-weight: 700;
  }
}

.filterWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .buttonList {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    button {
      background: none;
      border: none;
      width: 30px;
      height: auto;
    }
  }
}

.orderUl {
  overflow: scroll;
  .orderList {
    position: relative;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 13px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #d9d9d9;

    &.validated {
      color: #fff;
      background: linear-gradient(45deg, #b57eea, #abb2ea);
      .curcle {
        border: 1px solid #fff;
        color: #fff;
      }
      svg {
        fill: white;
      }
      dl {
        dt {
          color: #fff;
        }
        dd {
          color: #fff;
        }
      }
    }

    &.not_validated {
      .curcle {
        border: 1px dashed #787878;
        color: #787878;
      }
    }
    &.canceled {
    }
    &.failed {
    }

    .curcle {
      display: flex;
      width: 45px;
      height: 45px;
      text-align: center;
      border: 1px solid #404040;
      color: #404040;
      border-radius: 50%;
      font-size: 10px;
      word-break: break-all;
      align-items: center;
      justify-content: center;
    }

    dl {
      display: flex;
      flex: 1;
      padding-left: 20px;
      flex-direction: column;
      dt {
        flex: 1;
        line-height: 20px;
        color: #404040;
        font-size: 16px;
      }
      dd {
        flex: 1;
        line-height: 20px;
        color: #939393;
        font-size: 14px;
      }
    }

    .rightArrow {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
