@use '@styles/design-system.scss' as *;

.container {
  width: 235px;
  height: 49px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: block;
  color: #939393;
  margin-bottom: 24px;
  text-indent: 16px;
  font-weight: 400;
  font-size: $font-medium;
  box-sizing: border-box;
}
