@use '@styles/design-system.scss' as *;

.container {
  width: 235px;
  border-radius: 4px;
  display: block;
  margin-bottom: 30px !important;
  font-weight: 400;
  font-size: $font-medium;
  box-sizing: border-box;
}
